@font-face {
  font-family: ProductSans;
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/Regular.ttf);
}
@font-face {
  font-family: ProductSans;
  font-display: swap;
  font-style: bold;
  font-weight: 600;
  src: url(./fonts/Bold.ttf);
}
:root {
  --image-url-premium-opt-gift-icon: url("data:image/svg+xml,%3Csvg%20height%3D%22125%22%20viewBox%3D%220%200%20200%20125%22%20width%3D%22200%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22%23219cfb%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20transform%3D%22translate%2817.0021%2011.2592%29%22%3E%3Cpath%20d%3D%22m124.562592%2020.89623-2.788821%202.1183585c-.260323.1977383-.631655.1470037-.829393-.1133191-.16075-.2116267-.16075-.5044472%200-.7160739l2.118358-2.7888211c.296811-.3907523.296829-.9314178.000045-1.3221901l-2.117535-2.7881272c-.197772-.2604041-.146999-.6318295.113405-.8296019.211669-.1607591.504528-.1607591.716197%200l2.788128%202.1175342c.390772.2967848.931437.2967665%201.32219-.0000447l2.788821-2.1183585c.260323-.1977383.631654-.1470036.829393.1133191.160749.2116267.160749.5044472%200%20.7160739l-2.118359%202.7888211c-.296811.3907523-.296829.9314178-.000044%201.3221901l2.117534%202.7881272c.197772.2604041.146999.6318296-.113405.8296019-.211669.1607591-.504528.1607591-.716197%200l-2.788127-2.1175342c-.390773-.2967848-.931438-.2967665-1.32219.0000447z%22%20opacity%3D%22.406581%22%20transform%3D%22matrix%28.70710678%20.70710678%20-.70710678%20.70710678%2049.924947%20-83.059285%29%22%2F%3E%3Cpath%20d%3D%22m36.1055855%2076.3361027-2.7888211%202.1183585c-.2603228.1977383-.6316547.1470037-.829393-.1133191-.1607493-.2116267-.1607493-.5044472%200-.7160739l2.1183585-2.7888211c.2968112-.3907523.2968295-.9314178.0000446-1.3221901l-2.1175342-2.7881272c-.1977724-.2604041-.1469993-.6318295.1134048-.8296019.2116691-.1607591.504528-.1607591.7161972%200l2.7881272%202.1175342c.3907723.2967848.9314378.2967665%201.3221901-.0000447l2.7888211-2.1183585c.2603227-.1977383.6316546-.1470036.829393.1133191.1607493.2116267.1607493.5044472%200%20.7160739l-2.1183585%202.7888211c-.2968112.3907523-.2968295.9314178-.0000447%201.3221901l2.1175342%202.7881272c.1977724.2604041.1469994.6318296-.1134047.829602-.2116692.160759-.504528.160759-.7161972%200l-2.7881272-2.1175343c-.3907724-.2967848-.9314378-.2967665-1.3221901.0000447z%22%20transform%3D%22matrix%28.70710678%20.70710678%20-.70710678%20.70710678%2063.218421%20-4.27277%29%22%2F%3E%3Cpath%20d%3D%22m45.6646266%2017.5466051-2.7888212%202.1183585c-.2603227.1977383-.6316546.1470036-.8293929-.1133191-.1607494-.2116267-.1607494-.5044472%200-.7160739l2.1183584-2.7888211c.2968113-.3907523.2968295-.9314178.0000447-1.3221901l-2.1175342-2.7881272c-.1977724-.2604041-.1469994-.6318296.1134047-.829602.2116692-.160759.5045281-.160759.7161972%200l2.7881272%202.1175343c.3907724.2967848.9314378.2967665%201.3221901-.0000447l2.7888212-2.1183585c.2603227-.1977383.6316546-.1470037.8293929.1133191.1607494.2116267.1607494.5044472%200%20.7160739l-2.1183584%202.7888211c-.2968113.3907523-.2968295.9314177-.0000447%201.3221901l2.1175342%202.7881272c.1977724.2604041.1469993.6318295-.1134048.8296019-.2116691.1607591-.504528.1607591-.7161971%200l-2.7881272-2.1175342c-.3907724-.2967848-.9314378-.2967665-1.3221901.0000447z%22%20transform%3D%22matrix%28.70710678%20.70710678%20-.70710678%20.70710678%2024.447733%20-28.251049%29%22%2F%3E%3Cpath%20d%3D%22m148.562592%2048.5241-2.788821%202.1183585c-.260323.1977383-.631655.1470036-.829393-.1133191-.16075-.2116267-.16075-.5044472%200-.7160739l2.118358-2.7888211c.296811-.3907523.296829-.9314178.000045-1.3221901l-2.117535-2.7881272c-.197772-.2604041-.146999-.6318296.113405-.829602.211669-.160759.504528-.160759.716197%200l2.788128%202.1175343c.390772.2967848.931437.2967665%201.32219-.0000447l2.788821-2.1183585c.260323-.1977383.631654-.1470037.829393.1133191.160749.2116267.160749.5044472%200%20.7160739l-2.118359%202.7888211c-.296811.3907523-.296829.9314177-.000044%201.3221901l2.117534%202.7881272c.197772.2604041.146999.6318295-.113405.8296019-.211669.1607591-.504528.1607591-.716197%200l-2.788127-2.1175342c-.390773-.2967848-.931438-.2967665-1.32219.0000447z%22%20opacity%3D%22.337378%22%20transform%3D%22matrix%28.70710678%20.70710678%20-.70710678%20.70710678%2076.49026%20-91.937823%29%22%2F%3E%3Cpath%20d%3D%22m98.9917581%20100.549938-2.0420863%201.551146c-.1886395.143289-.4577203.106525-.6010088-.082115-.1164849-.153352-.1164849-.365541%200-.518893l1.5511468-2.0420866c.2055603-.2706205.205573-.6450651.0000309-.9156994l-1.550548-2.0415846c-.1433132-.1886985-.1065212-.457847.0821772-.6011602.1533833-.1164919.3655996-.1164919.5189829%200l2.0415846%201.550548c.2706343.2055421.645079.2055295.9156994-.0000309l2.0420862-1.5511468c.18864-.1432885.45772-.1065242.601009.0821152.116485.1533525.116485.3655411%200%20.5188936l-1.551147%202.0420863c-.20556.2706205-.205573.6450651-.000031.9156994l1.550548%202.041585c.143313.188698.106521.457847-.082177.60116-.153383.116492-.3656.116492-.518983%200l-2.0415845-1.550548c-.2706343-.205542-.645079-.20553-.9156994.000031z%22%20opacity%3D%22.337378%22%20transform%3D%22matrix%28.70710678%20.70710678%20-.70710678%20.70710678%2099.131714%20-41.325129%29%22%2F%3E%3Cpath%20d%3D%22m78.6259012%2089.5874279-1.4262067%201.0833312c-.1320477.100302-.3204042.074567-.4207062-.0574806-.0815394-.1073468-.0815394-.2558788%200-.3632255l1.0833313-1.4262067c.1453531-.1913575.145362-.4561299.0000218-.6474973l-1.0829123-1.4258552c-.1003192-.1320889-.0745648-.3204929.0575241-.4208122.1073683-.0815443.2559197-.0815443.363288%200l1.4258553%201.0829124c.1913674.1453402.4561397.1453312.6474973-.0000219l1.4262067-1.0833312c.1320476-.100302.3204041-.074567.4207061.0574806.0815394.1073468.0815394.2558788%200%20.3632255l-1.0833312%201.4262067c-.1453532.1913575-.1453621.4561299-.0000219.6474973l1.0829123%201.4258552c.1003192.1320889.0745648.3204929-.0575241.4208122-.1073683.0815443-.2559197.0815443-.363288%200l-1.4258553-1.0829124c-.1913673-.1453402-.4561397-.1453312-.6474972.0000219z%22%20opacity%3D%22.337378%22%20transform%3D%22matrix%28.70710678%20.70710678%20-.70710678%20.70710678%2085.702782%20-29.904818%29%22%2F%3E%3Cpath%20d%3D%22m4.62590116%2057.5874279-1.42620669%201.0833312c-.13204762.100302-.32040417.074567-.42070613-.0574806-.08153943-.1073468-.08153943-.2558788%200-.3632255l1.08333122-1.4262067c.14535313-.1913575.14536207-.4561299.00002189-.6474973l-1.08291234-1.4258552c-.10031922-.1320889-.07456481-.3204929.05752408-.4208122.1073683-.0815443.25591973-.0815443.36328804%200l1.42585529%201.0829124c.19136736.1453402.45613972.1453312.64749726-.0000219l1.42620668-1.0833312c.13204763-.100302.32040418-.074567.42070613.0574806.08153944.1073468.08153944.2558788%200%20.3632255l-1.08333122%201.4262067c-.14535312.1913575-.14536207.4561299-.00002188.6474973l1.08291234%201.4258552c.10031922.1320889.07456481.3204929-.05752408.4208122-.10736831.0815443-.25591974.0815443-.36328804%200l-1.42585529-1.0829124c-.19136736-.1453402-.45613972-.1453312-.64749726.0000219z%22%20opacity%3D%22.337378%22%20transform%3D%22matrix%28.70710678%20.70710678%20-.70710678%20.70710678%2041.401267%2013.0485%29%22%2F%3E%3Cpath%20d%3D%22m22.7262677%2037.0850666-2.2301396%201.6939899c-.2082582.1581907-.5053237.117603-.6635143-.0906552-.1285995-.1693014-.1285995-.4035578%200-.5728591l1.6939899-2.2301396c.2378609-.3131441.2378755-.7464267.0000358-1.0595868l-1.6933306-2.2295844c-.1582179-.2083233-.1175995-.5054636.0907238-.6636815.1693353-.1286073.4036224-.1286073.5729578%200l2.2295843%201.6933306c.3131602.2378397.7464428.237825%201.0595869-.0000358l2.2301395-1.69399c.2082582-.1581906.5053237-.1176029.6635144.0906553.1285995.1693013.1285995.4035578%200%20.5728591l-1.69399%202.2301395c-.2378608.3131441-.2378755.7464268-.0000358%201.0595869l1.6933306%202.2295844c.1582179.2083232.1175995.5054636-.0907238.6636815-.1693353.1286072-.4036224.1286072-.5729577%200l-2.2295844-1.6933306c-.3131601-.2378397-.7464427-.2378251-1.0595868.0000358z%22%20opacity%3D%22.351327%22%20transform%3D%22matrix%28.70710678%20.70710678%20-.70710678%20.70710678%2031.811697%20-6.089231%29%22%2F%3E%3Cpath%20d%3D%22m128.043393%2069.5360782-2.23014%201.6939899c-.208258.1581907-.505323.1176029-.663514-.0906553-.1286-.1693013-.1286-.4035577%200-.5728591l1.69399-2.2301395c.237861-.3131441.237875-.7464267.000036-1.0595869l-1.693331-2.2295843c-.158218-.2083233-.1176-.5054636.090724-.6636816.169335-.1286072.403622-.1286072.572958%200l2.229584%201.6933306c.31316.2378398.746443.2378251%201.059587-.0000358l2.230139-1.6939899c.208258-.1581907.505324-.1176029.663515.0906553.128599.1693013.128599.4035577%200%20.5728591l-1.69399%202.2301395c-.237861.3131441-.237876.7464267-.000036%201.0595869l1.69333%202.2295843c.158218.2083233.1176.5054636-.090723.6636816-.169336.1286072-.403623.1286072-.572958%200l-2.229584-1.6933306c-.313161-.2378397-.746443-.2378251-1.059587.0000358z%22%20transform%3D%22matrix%28.70710678%20.70710678%20-.70710678%20.70710678%2085.604684%20-71.054988%29%22%2F%3E%3Cpath%20d%3D%22m97.0433927%209.53607816-2.2301395%201.69398994c-.2082582.1581907-.5053237.1176029-.6635144-.0906553-.1285994-.1693013-.1285994-.4035577%200-.5728591l1.69399-2.23013951c.2378608-.31314408.2378755-.7464267.0000358-1.05958686l-1.6933306-2.22958435c-.1582179-.20832328-.1175995-.50546362.0907238-.66368153.1693353-.12860725.4036224-.12860725.5729577%200l2.2295844%201.6933306c.3131601.2378397.7464427.23782506%201.0595868-.00003581l2.2301393-1.69398994c.208258-.15819068.505324-.11760294.663515.09065525.128599.16930135.128599.40355778%200%20.57285912l-1.6939903%202.23013954c-.2378609.31314408-.2378755.7464267-.0000358%201.05958686l1.6933301%202.22958433c.158218.2083233.1176.5054636-.090723.6636816-.169336.1286072-.403623.1286072-.572958%200l-2.2295844-1.69333065c-.3131602-.2378397-.7464428-.23782506-1.0595869.00003581z%22%20transform%3D%22matrix%28.70710678%20.70710678%20-.70710678%20.70710678%2034.098587%20-66.708271%29%22%2F%3E%3C%2Fg%3E%3Cpath%20d%3D%22m87.6435784%2046.0734503%208.6589748-16.8994921c.9989344-1.9495936%203.4141504-2.7328464%205.3945358-1.749444.777476.386072%201.406429%201.0104476%201.792081%201.7790378l8.177582%2016.2976272c.668026%201.3313511%201.974031%202.240369%203.471761%202.4164472l17.124478%202.0132119c2.324769.2733078%203.984307%202.3501624%203.706683%204.6387847-.114339.9425667-.551672%201.8185971-1.239834%202.4835386l-13.535228%2013.0785162c-.54651.5280695-.811329%201.2769965-.716037%202.0250036l2.249355%2017.6566581c.322015%202.5277021-1.498412%204.8337951-4.066037%205.1508029-.973069.1201384-1.959902-.0633266-2.821449-.5245437l-14.300238-7.6554343c-1.034584-.5538502-2.2800684-.5697649-3.3289061-.0425364l-14.8160572%207.4477173c-2.0851797%201.0481756-4.6386866.2338004-5.7034171-1.818958-.398374-.7680492-.5452741-1.6387316-.4205006-2.492322l1.1841433-8.1008676c.5791696-3.9621692%203.0805908-7.3990749%206.7053485-9.2130228l16.4556812-8.234964c.439391-.2198854.614519-.7487959.391161-1.1813545-.173047-.3351252-.543504-.5247311-.921557-.4716686l-20.1252708%202.8247274c-3.0765074.4318101-6.196543-.4192394-8.6086134-2.3481642l-6.7032719-5.3605848c-1.9129047-1.5297437-2.2039318-4.2964503-.6500273-6.1796122.722617-.8757325%201.759794-1.4441869%202.8965835-1.5875549l17.1851828-2.1673378c1.1021999-.1390057%202.062446-.8075008%202.5628935-1.784211z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background-color: #1a2026;
}
.main {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.timg {
  width: 100px;
}
span {
  color: aliceblue;
}
nav {
  background: #202832;
}
.logo {
  height: 48px;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 300px;
  height: 356px;
  border-radius: 16px;
  background-color: #242e38;
  padding: 15px 30px;
  margin-bottom: 20px;
}
.card1 {
  margin-top: 50px;
}
.cardimg0 {
  height: 125px;
}
.cardimg {
  display: inline-block;
  width: 200px;
  height: 125px;
  vertical-align: top;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.cardtext1 {
  font-family: ProductSans;
  font-style: bold;
  font-size: 22px;
  line-height: 30px;
  font-weight: bold;
  margin-top: 4px;
  color: #fff;
}
.cardtext2 {
  font-family: ProductSans;
  font-size: 15px;
  line-height: 22px;
  margin-top: 8px;
  color: #8794a1;
}
.btn {
  font-family: ProductSans;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  display: inline-flex;
  font-size: 13px;
  line-height: 18px;
  font-weight: bold;
  width: 100%;
  padding: 12px 15px;
  justify-content: center;
  background-color: #248bda;
  color: #fff;
  text-decoration: none;
  margin-top: 20px;
  border-radius: 7px;
}
.btn:hover,
.btn:active,
.btn:focus {
  color: #fff;
  text-decoration: none;
  background-color: #207cc2;
}
.tm-premium-opt-icon-gift {
  background-image: var(--image-url-premium-opt-gift-icon);
}
/* ///// */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.inputs {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #0000006f;
  border-radius: 10px;
  padding: 5px 12px;
}
textarea:focus,
input:focus {
  outline: none;
  border: 0;

}
.box:focus-within {
    border: thin solid black;
}
.input {
  border: 0;
  height: 35px;
  padding: 0;
  margin: 0;
  color: aliceblue;
  font-family: ProductSans;
  font-style: bold;
  font-size: 22px;
  line-height: 30px;
  font-weight: reqular;
  background: #00000000;
}
.input1 {
  width: 25%;
}
.input2 {
    width: 75%;
    border-left: 2px solid rgba(255, 255, 255, 0.232);
    height: 20px;
    text-align: center;
}
.login{
  height: 430px !important;
}
